mixin text-field({view='text', placeholder='', name = '', type = 'text', fontSharpness = '', isClickable = false, readonly = false})
  
  - let ViewModifier = ''  

  case view
    when 'default'
      - ViewModifier = 'text-field_default-state'
    when 'hover/focus'
      - ViewModifier = 'text-field_hover-state'
    when 'date'
      - ViewModifier = 'js-text-field_date-state' 
      - placeholder  = 'ДД.ММ.ГГГГ' 

  - let clickableModifier = ''
  case isClickable
    when true
      - clickableModifier = 'text-field_clickable'

  - let fontSharpnessModifier = ''
  case fontSharpness
    when 'sharp'
      - fontSharpnessModifier = ' text-field_sharp'    

  input(
    class=`text-field ${ViewModifier} ${clickableModifier} ${fontSharpnessModifier} js-text-field`, 
    type=type,
    name=name,
    placeholder=placeholder,
    readonly=readonly
  )

//- +text-field({
      view: 'default',
      placeholder: 'Enter what you want'
    })  