mixin text-field({view='text', placeholder='', type = 'text', isClickable = false, readonly = false})
  
  - let ViewModifier = ''  

  case view
    when 'default'
      - ViewModifier = 'text-field_default-state'
    when 'hover/focus'
      - ViewModifier = 'text-field_hover-state'
    when 'date'
      - ViewModifier = 'text-field_date-state' 
      - placeholder  = 'ДД.ММ.ГГГГ' 

  - let clickableModifier = ''
  case isClickable
    when true
      - clickableModifier = 'text-field_clickable'

  input(
    class=`text-field ${ViewModifier} ${clickableModifier}`, 
    type=type,
    placeholder=placeholder,
    readonly=readonly
  )

//- +text-field({
      view: 'default',
      placeholder: 'Enter what you want'
    })  