include ../heading/heading.pug

mixin room-info({currency = '₽', roomPrice = 0, dayCount = 0, serviceFee = 0, discount = 0, additioanlServiceFee = 0})
  table.room-info.js-room-info
    tr.room-info__row
      td.room-info__service
        span.js-room-info__room-price=roomPrice
        span.room-info__currency=`${currency} x `
        span.room-info__day-count.js-room-info__day-count=`${dayCount} `
        span.js-room-info__per-day
      td.room-info__price
        span.js-room-info__total-room-price
        span.room-info__currency=`${currency}`

    tr.room-info__row  
      td.room-info__service
        .room-info__discount 
          span Сбор за услуги: скидка 
          span.js-room-info__number-discount=`${discount}`
          span.room-info__currency=`${currency} `
          span.room-info__icon i
      td.room-info__price
        .room-info__discount-price
          span.js-room-info__service-fee=`${serviceFee}`
          span.room-info__currency=`${currency}`

    tr.room-info__row
      td.room-info__service 
        .room-info__additional-service
          span.room-info__additional-service Сбор за дополнительные услуги 
          span.room-info__icon i
      td.room-info__price
        .room-info__additional-price
          span.js-room-info__additioanl-service-fee=`${additioanlServiceFee}`
          span.room-info__currency=`${currency}`

    tr.room-info__row
      td.room-info__service.room-info__service-result
        +heading({type: 'h2', text: 'Итого'}) 
        .room-info__underline 
      td.room-info__price.room-info__price-final
        span.room-info__final-money.js-room-info__final-price
        +heading({type: 'h2', text: currency})               